/* =========================
   Reset
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   Catppuccin Mocha
========================= */

:root {

    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;

    --border: #45475a;
    --surface: #313244;

    --text: #cdd6f4;
    --subtext: #a6adc8;

    --blue: #89b4fa;
    --mauve: #cba6f7;
    --retro-yellow: #d9b650;
    --green: #a6e3a1;
    --pink: #f5c2e7;

}


/* =========================
   Body
========================= */

body {

    background: 
      linear-gradient(
        135deg,
        #0f172a 0%,
        #1e1e2e 45%,
        #3b2f1a 75%,
        #d9b650 100%
      );

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    color: var(--text);

    font-family:
        "JetBrains Mono",
        "Fira Code",
        monospace;

    line-height: 1.6;

}


/* =========================
   Janela Vim
========================= */

.vim-style {

    background: var(--base);

    width: 90%;

    max-width: 900px;

    margin: 2rem auto;

    border: 1px solid var(--border);

    border-radius: 12px;

    overflow: hidden;

}


/* =========================
   Main
========================= */

main {

    padding: 2rem;

}

/* =========================
   Section 
========================== */

section {
  padding: 1.5rem;
  
  border-radius: 10px;

  transition: 
      transform .3s ease,
      background-color .3s ease,
      box-shadow .3s ease;

  cursor: text;
}

section:hover {
  transform: translateY(-5px);

  border: 1px solid var(--retro-yellow); 
  
  box-shadow: 0 0 20px rgba(217, 182, 80, .35);


}

/* =========================
   Textos
========================= */

h1 {

    font-size: 3rem;

    color: var(--mauve);

}


h2 {

    color: var(--blue);

    margin: 2rem 0 1rem;

}


h3 {

    color: var(--green);

}


p {

    color: var(--subtext);

    margin-bottom: 1rem;

}


/* =========================
   Cards
========================= */

.project-card {

    background:

        linear-gradient(
            145deg,
            var(--mantle),
            var(--base)
        );

    margin-top: 20px;

    border: 1px solid var(--border);

    border-radius: 12px;

    padding: 1.5rem;

    transition:
        transform .3s ease,
        border-color .3s ease;

}


.project-card:hover {

    border-color: var(--mauve);

    transform: translateY(-5px);

}


/* =========================
   Tecnologias
========================= */

.tech {

    display: flex;

    gap: .5rem;

    flex-wrap: wrap;

    margin-top: 1rem;

}


.tech span {

    background: var(--surface);

    color: var(--blue);

    padding: .4rem .8rem;

    border-radius: 20px;

    font-size: .85rem;

}


/* =========================
   Links
========================= */

a {

    color: var(--pink);

    text-decoration: none;

}


a:hover {

    color: var(--mauve);

}


/* =========================
   Footer Vim
========================= */

.vim-footer {

    border-top: 1px solid var(--border);

    padding: 1rem;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 3rem;

    background: var(--mantle);

}


.vim-footer a {

    font-family:
        "JetBrains Mono",
        monospace;

    opacity: .8;

    font-size: .85rem;

}


.vim-footer a:hover {

    color: var(--mauve);

    opacity: 1;

}
